[2020-11-23 20:50] mrshu opened #3 "Robots teleported from the penalty area if they are in there for more than 15 seconds"
@javier687 @felipenmartins  @Adman Let's see if we can put this together rather quickly

[2020-11-23 20:53] mrshu opened #4 "Halftimes"
@Adman I guess we'll have to figure this out somehow in the end

[2020-11-23 22:53] mrshu opened #5 "JSON-based game logs"
We'll need to have logs on two levels:

1. Debug logs (probably via Python's `logging`)
2. Game logs, which ought to be readable outside of `webots` as well as Python itself

I think one of the better options would be having some JSON lines (https://jsonlines.org/) or something of that sort with action that happened (goal scored, lack of progress, robot's position restarted, ball's position restar

[2020-11-24 20:56] Adman commented on #5
Definitely agree.

This could also lead to getting some statistics of each match / entire tournament.

[2020-11-25 12:27] felipenmartins commented on #5
I totally agree with you!

Felipe Nascimento Martins
felipe.n.martins@gmail.com
http://about.me/felipe.n.martins

On Tue, 24 Nov 2020 at 21:56, Adrián Matejov <notifications@github.com>
wrote:

[2020-11-30 21:31] mrshu opened #8 "Teleporting robots if they are in the penalty area for more than X seconds"

[2020-11-30 21:33] mrshu opened #9 "Automatically change sides in half time"

[2020-11-30 21:50] #8 closed

[2020-11-30 21:51] #9 closed

[2020-11-30 21:58] Adman commented on #3
The goalkeeper is allowed to stay in penalty area, isn't it?

[2020-11-30 22:26] Adman opened #10 "Count number of robot's entries to penalty area"
The robot may be deemed damaged if it enters the penalty area multiple times within a short timespan.

[2020-11-30 22:31] Adman opened #11 "Lack of progress"
If the ball does not change its position within some timespan, move the ball to the nearest unoccupied neutral spot.

[2020-12-01 21:30] Adman opened #12 "Pass coordinates of all team players"
What about passing x, y and orientation of the robot to other robot within the same team (or maybe even of all robots)? Teams could incorporate some tactics.

[2020-12-01 21:33] Adman opened #13 "Kick the ball"
Let's see if it is possible that the robot sends some "kick" signal to supervisor and supervisor sets the ball's velocity appropriately.

[2020-12-07 20:27] mrshu opened #15 "Kickoff"
Move one of the robots into the center circle at kickoff.

Remember which one

[2020-12-07 20:44] mrshu opened #16 "Respawn stuck/tipped over robots"
After 15 seconds of no/very little movement

[2020-12-07 22:12] aquahika opened #17 "Auto gameplay pipeline"
Pack in docker?
Input several student's .py files and output game playback video and statistics.

[2020-12-07 22:15] aquahika opened #18 "Respawn when a robot turned over"
When a robot turn/flip over and cannot move never again, respawn it

[2020-12-07 22:17] aquahika commented on #18
Similar to #16, however, this probably requires to respawn immmidiatly?

[2020-12-07 22:25] dbscoach commented on #5
Positions of all Objects in the game can also be extracted from the websocket for the x3d viewer.

[2020-12-13 13:43] jamestalkington opened #19 "Supervisor's _controller not loading on Windows"
OS: Windows 10 build 19041.685
Python: 3.7.9
Webots: R2020b Revision 2
Error:
[code]

[2020-12-14 19:30] mrshu commented on #19
Hi @jamestalkington, thanks for the report!

@felipenmartins  this seems to be happening on Windows -- did you happen to run into something similar by any chance? I guess we'll be seeing more similar issues in the future.

[2020-12-14 19:59] felipenmartins commented on #19
Weird... I am running on Windows and all robots are moving.

On Mon, 14 Dec 2020 at 20:31, Marek Šuppa <notifications@github.com> wrote:

[2020-12-15 08:04] mrshu commented on #11
@Adman to put this together by the specification, #21 needs to be augmented with (at least) the positions of the neutral spots. Plus we ought to have some way of checking whether the neutral spot is occupied or not.

[2020-12-16 13:52] aquahika commented on #17
Running a webots on Docker is introduced at the official website:
https://www.cyberbotics.com/doc/guide/installation-procedure#installing-the-docker-image

On my environment with nvidia GPU, after installing nvidia-docker2 package it works well:
![image](https://user-images.githubusercontent.com/2618822/102357070-4efffe80-3ff1-11eb-90c0-4ff4127df897.png)

[2020-12-21 20:31] dbscoach commented on #5
I have a quick-and-dirty python script that captures the whole game (except maybe the first couple hundred milliseconds, depending on startup sequencing) in #25

[2020-12-21 20:46] mrshu commented on #5
Thanks @dbscoach, that's quite useful!

What I had in mind was a set of JSON logs that would also describe various game-specific actions (i.e. goal scored, lack of progress and so on) and will probably us to change the Supervisor (such that it would emit these events somewhere).

So I guess we'll have three set of JSON-based game logs:

1. Low level "where is this object positioned" logs created b

[2020-12-21 21:30] dbscoach commented on #5
I see. I have only taken a brief look at the supervisor but will try to make myself useful there.
The x3d does capture the stdout and stderr of webots during the run (configurable, but I'd rather grep it out in post that not capture) so for a quick and dirty solution just print logging info to stdout and we can grep them out of the x3d-log.

[2020-12-21 21:31] dbscoach commented on #17
Is there any easy way to run this headless without losing GPU acceleration? I tried and failed...

[2020-12-21 21:34] mrshu commented on #5
I'll try to put together the wrapper real quick, so that there will be a separate file (i.e. not stdout or stderr) to which the "reflog" will be appended. Don't worry about grepping it out just yet :)

[2020-12-21 22:42] mrshu commented on #3
@Adman would you be up to taking this?

[2020-12-21 23:23] mrshu commented on #18
I guess  for our current purposes this is probably the very same thing as #16 -- in the future we can easily make the restart immediate.

[2020-12-27 12:24] mattyoung101 opened #29 "Will inter-robot communication be supported?"
Hello,
I'm just wondering if communication between robots will be supported in the simulation. We are planning to use this to better organise strategies between the robots. If it will be supported, will this be through something like Protobuf or Python's pickle serialiser?

Thanks.

[2020-12-29 10:14] Adman opened #31 "Template for participants"
@mrshu @felipenmartins I was thinking that we could provide some template for participants. PR https://github.com/RoboCupJuniorTC/webots-soccer-sim-playground/pull/30/ contains demo programs, where we are using this template as well.

[code]

[2020-12-29 19:38] #5 closed

[2020-12-29 20:41] mrshu commented on #31
@Adman I believe the vast majority of participants will base their work off of the demo programs you've put together in #30. If they happen to contain a template like this, there is a good chance many of them will just include it in their programs.

That said, I think it makes a ton of sense and I would extend the comment a bit to say that the code shared among robots can be put into modules that

[2020-12-29 20:56] mrshu commented on #29
Hi @mattyoung101,

Thanks for the question!

While I cannot really promise anything and need to note that we are currently trying to prepare a Minimum Viable Version (i.e. the simplest one possible) of the Simulator, inter-robot communication is something we definitely want the simulator to eventually support. Whether it will be ready for the January/February 2021 tournament I cannot really say, b

[2020-12-29 20:56] mrshu commented on #29
cc @aquahika @marcodankel @felipenmartins @javier687

[2020-12-30 08:42] mrshu commented on #12
@Adman I believe this is what's already taking place -- the message the robot's controller currently gets actually contains positions of all robots, as well as the ball (see below).

https://github.com/RoboCupJuniorTC/webots-soccer-sim-playground/blob/master/controllers/rcj_soccer_player/rcj_soccer_player.py#L11-L29

As such, I believe we can close this but feel free to reopen the issue if you fee

[2020-12-30 08:42] #12 closed

[2020-12-30 08:45] mrshu commented on #19
@jamestalkington thank you for your patience here.

Could you please confirm that the other Webots demos work for you? Alternatively, could you please try to download the new version (Webots R2021a) and see if that helps?

Thanks!

[2020-12-30 09:08] #16 closed

[2020-12-30 09:09] mrshu commented on #18
In the interest of doing the absolute minimum for the simulator to be of some use (i.e. Minimum Viable Simulator), I believe we can close this and let the lack of progress rule take care of it.

We can revisit it anytime afterwards, if it ends up being a serious problem.

[2020-12-30 09:09] #18 closed

[2020-12-30 10:41] mrshu opened #33 "Change repository name"
Hey @RoboCupJuniorTC/soccer-simulator,

I believe it is about time we've changed the name of the repository. Although it still resembles a playground, I think `rcj-soccer-simulator` or `rcj-soccer-sim` would probably make it a bit more descriptive than what we currently have.

Once we do that, we can also have a website on the order of `rcj-soccer-sim.github.io`, which could host the documentation

[2020-12-30 16:24] Adman opened #34 "Pass ball's speed in a message from supervisor"
So that robot's controller can measure where the ball is located after certain amount of time.

Does this make sense to you?

[2020-12-30 17:43] #3 closed

[2020-12-30 21:08] Adman opened #35 "Setup isort, black and flake8"
* Create requirements.txt with these packages (use pip-tools for this) + pre-commit package
* Setup pre-commit hook to check for code style
* Setup some CI (Jenkins, CircleCI or whatever else)
* Add info about running code style checkers into README

[2020-12-31 00:39] felipenmartins commented on #33
This makes sense to me.
I vote for  rcj-soccer-sim .
:-)

[2021-01-01 10:01] 2black0 opened #36 "Controller Error Run in MacOS"
This error happen while I run the Simulation in Mac OS

![image](https://user-images.githubusercontent.com/9410351/103436866-fec0a780-4c52-11eb-97d0-b2dd937497aa.png)

[code]

[2021-01-01 15:41] Adman commented on #36
Hello @2black0 . The problem is that you are using python version 2 for executing the controller. README now contains the way how to setup python3 https://github.com/RoboCupJuniorTC/webots-soccer-sim-playground#how-do-i-try-this-out.
Feel free to ask further if this won't work for you.

[2021-01-01 17:45] 2black0 commented on #36
thanks for your reply @Adman
setup python3 command in preference was done

and I can confirm my python3 version is 3.8.5

![image](https://user-images.githubusercontent.com/9410351/103443601-875f3800-4c93-11eb-8c7b-9495860a94f7.png)

but when start simulation, error still happen

[code]

[2021-01-02 06:26] 2black0 commented on #36
**[SOLVED]**

![image](https://user-images.githubusercontent.com/9410351/103452043-d04bd680-4cfd-11eb-8a16-4cd8add28b2d.png)

this is the way to solve this problem:
1. Install Python 3.8 via homebrew
`$ brew install python@3.8`
2. change python command in preference of webots to
`/usr/local/opt/python@3.8/bin/python3`

![image](https://user-images.githubusercontent.com/9410351/103452065-13a64500-4

[2021-01-02 09:17] mrshu commented on #36
Thank you very much for your update @2black0!

We hope to soon have some documentation on how to set up the simulator, if you would agree, I think it would be great to add this in there (as for instance @marcodankel ran into a similar issue as well, if I am not mistaken).

I am closing this issue but please feel free to reopen it if I missed anything.

Thanks!

[2021-01-02 09:17] #36 closed

[2021-01-02 09:18] mrshu commented on #33
Thanks everyone, I'll go ahead with `rcj-soccer-sim`

[2021-01-02 09:29] mrshu commented on #33
Resolved, thank you everyone!

[2021-01-02 09:29] #33 closed

[2021-01-02 09:31] mrshu commented on #34
I am not sure I get this @Adman, the robot's controller gets the position of the ball at each tick, couldn't it compute its speed on its own?

[2021-01-02 09:33] mrshu commented on #35
I guess we can try GitHub Actions, since we are here on GitHub already :)

I believe our long-term policy ought to be that the "simulator" ought not to have any outside dependencies (I don't even what to know what installing them on Windows would entail) but there are some packages that can be of help when it comes to its development.

[2021-01-02 10:07] mrshu commented on #10
@Adman I believe we can close this in lieu of #28

[2021-01-02 10:07] #10 closed

[2021-01-02 10:55] Adman commented on #35
Of course, didn't know about this.

Yeah, simulator will be withou dependencies, those can be installed when contributing to the simulator itself / creating PR

[2021-01-02 11:17] Adman commented on #34
Ah, let's close this, wasn't aware that it can be computed in each tick.

[2021-01-02 11:17] #34 closed

[2021-01-02 11:36] Adman opened #37 "Document the code"
Since we started documenting the code using Google Docstring style, I would go with that one.

[code]

[2021-01-02 11:56] mrshu commented on #37
I wholeheartedly agree @Adman!

[2021-01-02 13:58] mrshu commented on #35
@Adman Just FYI: I've already set up the GitHub actions for the docs (https://robocupjuniortc.github.io/rcj-soccer-sim/, see the config at https://github.com/RoboCupJuniorTC/rcj-soccer-sim/blob/master/.github/workflows/docs.yml), so I guess it should be relatively straightforward to set it in there.

[2021-01-02 14:44] mrshu commented on #17
@dbscoach @aquahika We should probably get together and figure out whether we can actually use GPU acceleration. I am happy to provide a server for testing purposes as well, if that would be of any help.

Would something like that work for you?

Thanks!

[2021-01-02 14:48] mrshu commented on #4
My current thinking around halftimes is as follows:

1. Run the first half
2. Figure out who kicked off the first in the first half
[code]
3. Add an env variable (something like `RCJ_SOCCERSIM_KICKOFF_TEAM`) and set to B  in case yellow was kicking off in the first half and Y otherwise
4. Run the second half similarly to the first one

[2021-01-02 15:05] #15 closed

[2021-01-04 14:56] mrshu commented on #31
@Adman the files currently essentially look like this, right?

[2021-01-04 19:04] Adman commented on #31
@mrshu Yeah, like this. The only difference are robots B1 and Y1, which do not contain Path hacks.

[2021-01-04 20:28] felipenmartins commented on #11
I guess this one is solved, right?

[2021-01-04 20:41] mrshu commented on #11
@felipenmartins partially -- we still don't have the "find the nearest neutral spot" part figured out but I guess we can close this already and create a new issue to track the progress of this feature.

[2021-01-04 20:41] #11 closed

[2021-01-04 20:55] mrshu opened #45 ""Find furthest/nearest unoccupied neutral spot""
In order to implement rules

- 1.8 Inside the Penalty Area
- 1.9 Lack of Progress
- 1.10 Damaged Robots

We need a way of finding the nearest/furthest unoccupied neutral spot. It would be best to abstract this functionality out so that it can be used from various submodules (such as the penalty area/lack of progress checker(s)).

cc @Adman @felipenmartins

[2021-01-04 21:31] mrshu opened #46 "Figure out the final viewport and zoom level (for the recordings)"
So that the scores, the names of the teams, as well as the reflog (in the bottom-left corner) are visible.

cc @RoboCupJuniorTC/soccer-simulator

[2021-01-04 21:35] mrshu opened #47 "Add labels with team names to the video screen"
So that it's not just blue/yellow numbers in the corners

[2021-01-04 21:40] mrshu opened #48 "Big "GOAL!" message when a goal gets scored"
And potentially 3, 2, 1 countdown at the kickoff perhaps?

[2021-01-04 22:31] mrshu opened #49 "Define the folder structure of the submitted code"
And have an automatic way of checking whether the submitted package (probably a `.zip` file) does actually make sense.

[2021-01-05 12:25] ethanol20924 commented on #19
Hi, I just quickly tested R2021a on my windows laptop and it does also does not work. Running on Windows 10 Build 19042. It appears to be an error with the reflog:

[code]

[2021-01-05 12:36] jamestalkington commented on #19
@mrshu Thank you for your reply.

The other Webots demos work. I have tried downloading the new version (Webots R2021a) but the issue is not resolved.

I have also tried on my other computer that runs Windows 10 and have gotten a different issue that appears to be the same as @ethanol20924:

OS: Windows 10 Build 19042.685
Python: 3.8
Webots: R2021a

[code]

[2021-01-05 15:30] mrshu commented on #19
Hi @jamestalkington and @ethanol20924,

Thank you for trying this out!

I believe this is an issue we actually did run into (it turns out Windows does not support `:` as part of the filename) and it should be fixed in the current `master`.

Could you please download the latest updates from the `master` branch and see if the problem gets resolved?

Thanks!

[2021-01-05 22:02] Adman opened #50 "Deal with robots that enter infinite loop"
When a robot is not responding, end the match and the opponent wins 10:0.

[2021-01-06 08:21] ethanol20924 commented on #19
Hi @mrshu, it seems to work for me now. Thanks so much fixing this!

[2021-01-06 14:14] jamestalkington commented on #19
Hi @mrshu
Problem has been fixed for me on both of my Windows 10 devices. Thank you for taking the time to solve the issue.

[2021-01-06 14:14] #19 closed

[2021-01-09 22:07] mrshu commented on #50
How do you think we should go about doing this?

Here is what I could see as "doable but certainly not nice":
- Overload `get_new_data` and make it emit something each second (to a named pipe or to some file -- something like a heartbeat)
- Have an outside checker that will take a look at all the processes/files and within some grace period (say each 5 or 10 seconds) check whether the heartbeat ca

[2021-01-10 11:11] Adman commented on #50
Yes, this is probably the best doable solution at the moment. We should probably mention this in the rules - let's discuss it in the meeting.

[2021-01-11 20:37] #48 closed

[2021-01-11 20:56] #47 closed

[2021-01-12 13:01] mattyoung101 commented on #29
Hi @mrshu, I was reading through the rules and noticed rule 3.4, "Communication", which says:

Seeing this, I'd like to ask if it's acceptable to use inter-process communication to exchange data between our team's robots. The plan was to have robot 1 open a TCP socket on localhost with a programmatically assigned port, which robots 2 and 3 would then connect to and exchange info over.

The rule sa

[2021-01-13 15:12] Bluskript opened #55 "Wheels slowly drifting away from the robot"
![Peek_2020-12-27_15-29](https://user-images.githubusercontent.com/52386117/104470245-82e62980-5587-11eb-9e3d-9932d767578b.gif)

I don't know what has been causing this, it might be a bug related to rotation since I tweaked those values. I'll report any findings related to this bug if I find any.

[2021-01-14 20:12] mrshu opened #57 "Fix blue team name's alignment"
The yellow team's name is relatively nicely aligned to its score. Sadly, the blue one is not.

Can we perhaps do something to align them both?

cc @RoboCupJuniorTC/soccer-simulator

![Screenshot from 2021-01-14 21-10-59](https://user-images.githubusercontent.com/461491/104643707-12392d00-56ad-11eb-8714-298fa5b0fbc2.png)

[2021-01-14 20:19] mrshu commented on #29
Hi @mattyoung101,

First of all, let me tell you that we find the fact that you are asking questions like this very positive, for it is very close to what we would have done in your place :)

The intention of the rule was indeed for the controllers to only make use of the APIs provided by Webots. The reason behind is actually very simple: Webots APIs are something we are willing and (it seems like

[2021-01-16 16:29] Bluskript commented on #55
found minimal reproducible test case:
[code]

[2021-01-18 21:41] Adman opened #58 "Create simple introductory video"
How to download the webots + our repository
How to run it
How to change the robot script

[2021-01-21 01:05] TBSDrJ opened #60 "Need a quick way to determine which side you're on"
I have just been looking at the code for a couple of days (I am mentoring a couple of teams, we registered one this morning, and I'll have at least two more tomorrow).  Thank you to all who have put so much work into it!

I see an issue you might have when you run the submitted code for the competition.  Teams will be assigned as Yellow or Blue for each match, so you'll be substituting the three f

[2021-01-21 20:28] Adman commented on #60
Hello,
thanks for raising this question.
We have been thinking about this and our decision is that we do not want to be changing the code/import statements/whatever the participants submit.
The way we are going to deal with this is that each team should put their name or some unique identifier into the name of the controller folders. Based on this, the world file will be generated using our script

[2021-01-21 20:47] #60 closed

[2021-01-23 17:11] ArterKrilOk opened #63 "Wrong robot respawn"
Robot respawns with not zero velocity and rotation.

[2021-01-25 21:15] mrshu commented on #63
Thanks for your report @ArterKrilOk!

Would you happen to have a minimal reproducible test case where this may happen? It would greatly help us figuring out where the bug is as well as figuring out the fix.

Thanks!

[2021-01-25 22:03] Adman opened #65 "Document how to get the side of your robot"
[code]

self.name will be one of B1, B2, B3, Y1, Y2, Y3

[2021-01-28 20:02] #45 closed

[2021-01-29 17:07] #65 closed

[2021-02-03 16:28] Adman commented on #60
Hello,

so to answer the question about determining the name of the team, we described it in https://robocupjuniortc.github.io/rcj-soccer-sim/how_to/.
You can just simply call `robot.getName()`, which returns one of the following strings `["B1", "B2", "B3", "Y1", "Y2", "Y3"]` and therefore based on first character, it's easy to check which team you are in :)

Hope it helps!

[2021-02-06 21:10] TBSDrJ opened #71 "soccer.wbt.template robot names"
I tried to set up a new simulation world using in scripts > README.md.

In the template world in scripts > templates > soccer.wbt.template, the robots are named "b1", "b2", etc.

In worlds > soccer.wbt, the robots are named "B1", "B2", etc.

This was a breaking change for me (self.name evaluated to "b1" but data uses key "B1"), and worked when I capitalized them.  I wasn't sure if this was somehow

[2021-02-06 21:44] mrshu commented on #71
Thanks for the bug report @TBSDrJ, this is indeed a bug and I'll do my best to fix it shortly.

[2021-02-06 22:06] TBSDrJ commented on #71
I'll fork it and post a pull request so you can just merge it.

[2021-02-08 08:07] mrshu commented on #71
@TBSDrJ thanks again for the fix, I believe we can close this.

[2021-02-08 08:07] #71 closed

[2021-02-08 21:39] #31 closed

[2021-02-08 21:42] Adman opened #73 "Notify robots that goal was scored"
Via the message sent by supervisor

[2021-02-08 21:48] Adman commented on #49
Done -- https://robocupjuniortc.github.io/rcj-soccer-sim/code_submission/

[2021-02-08 21:48] #49 closed

[2021-02-08 21:48] Adman commented on #46
Will be default one.

[2021-02-08 21:48] #46 closed

[2021-02-08 21:55] Adman opened #74 "Pass the score of the first halftime to the next one"
Via environment variable

[2021-02-08 22:31] Adman opened #75 "Change the structure of the submitted code"
`team_name/team_name.py`
`team_name/robot1.py`
`team_name/robot2.py`
`team_name/robot3.py`

[2021-02-15 21:19] Adman opened #76 "System for submitting and validating the code"
This would give the participants feedback that their code structure is ok and the controller is working.

[2021-02-21 12:31] dbscoach opened #77 "Lack-of-Progress the ball if it leaves the field or increase tick rate so it doesn't anymore"
Ball can pass through the wall if it does so in one tick and eventually score a goal (due to moving sideways enough to be behind the goal line)

[2021-02-21 12:55] Adman commented on #4
@mrshu I think we can close this one. If we find a better solution we can reopen it later.

[2021-02-21 12:55] #4 closed

[2021-02-21 12:58] Adman commented on #55
Hello @Bluskript. Could you please test if this problem occurs with the newest software?

I'll close this issue for now. If you ran into similar problem like you reported, feel free to reopen this issue.

[2021-02-21 12:58] #55 closed

[2021-02-21 15:19] Adman commented on #63
Hello @ArterKrilOk. Could you please test if this problem occurs with the newest software? I'll close this issue for now. If you run into similar problem, feel free to reopen this issue.

[2021-02-21 15:19] #63 closed

[2021-02-22 05:33] mrshu commented on #77
I'd be still interested in understanding better how this may happen (passing through the wall). Is it possible we've messed something up in the world definition?

[2021-02-22 22:27] Adman opened #79 "Lack of progress: add randomness"
Choose randomly from 2 or 3 nearest/furthest neutral spots.

[2021-02-22 23:42] mrshu commented on #79
@Adman could we perhaps do it completely randomly? Is there any value in doing the nearest/furthest neutral spot?

[2021-02-22 23:42] mrshu commented on #73
@Adman Is there a particular usecase in which this would be valuable? I don't seem to see it and so I am pretty sure I must be missing something :)

[2021-02-23 15:46] Adman commented on #73
In real robocup, the teams mostly turn off their robot/program when the goal is scored in order to reset stuff and run the program from beginning. This might be the case here as well, so teams want to re-initialize some variables and so forth.
Of course it's possible by checking the x,y position of the ball, but it's not a nice way how to do it :)

[2021-02-23 15:51] Adman commented on #79
Well, not sure if complete randomness is a good way to go. Imagine all robots being in one corner, lack of progress is called and the ball is moved to the furthest spot. It will take quite a lot of time for robots to get there and meanwhile another lack of progress might happen.

[2021-02-23 17:49] dbscoach opened #80 "Change system from generating video files as output to HTML5/x3d-Data"

[2021-03-04 19:33] #73 closed

[2021-03-07 21:59] #74 closed

[2021-03-12 16:51] Adman opened #83 "Create unit tests"
* run tests when building PR or master branch commit

[2021-03-13 15:58] #77 closed

[2021-03-15 16:21] #79 closed

[2021-03-15 22:22] #17 closed

[2021-03-16 08:04] mrshu commented on #50
@Adman Guess what, it's got a very simple solution in the end!

Seems like the home-take point is that we should have just asked...

https://github.com/cyberbotics/webots/issues/2859#issuecomment-800042125

[2021-03-16 08:14] mrshu opened #85 "Use `atexit` to call `wb_supervisor_simulation_quit` and cleanly quit Webots"
As suggested in https://github.com/cyberbotics/webots/issues/2858

[2021-03-16 08:15] mrshu commented on #85
@Adman @dbscoach  I guess I should have come up with this myself a long time ago :)

[2021-03-16 21:57] #50 closed

[2021-03-17 22:10] #75 closed

[2021-03-20 15:38] Adman commented on #29
@mattyoung101 Hello, we have created a draft for inter-robot communication. See PR #90

[2021-04-12 20:20] Adman opened #92 "Fix temporary workaround for setting ball's velocity to zero"

[2021-04-17 16:55] mrshu commented on #85
Useless, sorry for bugging about this.

[2021-04-17 16:55] #85 closed

[2021-04-27 08:33] Adman commented on #80
Works, although without labels :/

[2021-04-27 08:33] #80 closed

[2021-05-02 16:33] alibahmanyar opened #98 "Detecting ball lack of progress when the ball is actually moving"
Hello,
Occasionally, A "ball: lack of progress" is detected and the ball is moved to the center point, after that it takes some time for the robots to reach the ball, but when they reach it and kick it, after several seconds another lack of progress is detected even though the ball is actually moving significantly at that time. However, I'm not sure if this is a bug or if it's actually supposed to

[2021-05-17 20:06] mrshu commented on #98
Thanks for the report @alibahmanyar!

@Adman would you mind taking a quick look?

[2021-05-17 21:37] Adman commented on #98
I have no exact idea how this could happen. Could be some edge case where the lack-of-progress counter is almost done, robot pushes the ball and then the referee calls lack-of-progress because the ball did not move enough.

We will keep this in mind but I think it's not a big problem currently.

[2021-09-06 19:31] #29 closed

[2021-09-06 19:32] Adman commented on #29
@mattyoung101 The communication feature is now live :)

[2021-09-07 06:31] felipenmartins commented on #29
Top! Nice work! :-)

On Mon, 6 Sep 2021 at 21:32 Adrián Matejov ***@***.***> wrote:

--

Felipe Nascimento Martins
***@***.***
http://about.me/felipe.n.martins

[2021-09-26 19:16] gviollaz opened #114 "Webots"

[2021-09-26 19:35] dbscoach commented on #114
You did not provide a description. Do you have a question or problem?

[2021-10-20 21:14] Adman opened #116 "Clarify submission file"
I'm creating this issue so we don't forget about this.

My idea is that teams can submit whole "rcj_soccer_team_blue" controller (with included `team_name.txt`, logo, etc.), so we don't have to bother them with renaming it to `robot.py`.

@mrshu @dbscoach @aquahika What do you think?

[2021-10-28 20:40] Adman opened #118 "Refactor referee and supervisor to be two separate instances"
Referee - knows the rules and checks whether all robots follow them
Supervisor - know positions of robots, how to i.e. draw a text, move robots, emit message...

Referee gets the instance of supervisor and calls "getters" and "setters".

[2021-12-01 19:00] #35 closed

[2021-12-16 15:55] #118 closed, assigned to Adman

[2021-12-22 20:50] mrshu commented on #92
@Adman This has been fixed already, right?

[2021-12-22 20:52] mrshu commented on #98
@alibahmanyar @Adman there hasn't been much happening here for the past 180 days -- let me close the issue for now but do not be afraid to comment on it and/or re-open it in the future!

[2021-12-22 20:52] #98 closed

[2021-12-22 20:52] mrshu commented on #58
@Adman Would you find this to be still relevant somewhat?

[2021-12-22 20:53] mrshu commented on #83
@Adman I guess this is now close to being realistically possible, right?

[2021-12-22 20:54] mrshu commented on #114
@gviollaz In the interest of keeping the issue tracker clean, I'll close this issue now but please do not hesitate to reopen it, perhaps along with a description as @dbscoach suggested :slightly_smiling_face:

Thanks!

[2021-12-22 20:54] #114 closed

[2021-12-22 20:57] mrshu commented on #116
@Adman I strongly support this.

The question that comes to my mind is whether we should perhaps use some other name. Otherwise, why choose blue rather than yellow? :slightly_smiling_face:

[2021-12-22 20:58] mrshu commented on #13
@Adman a year later, and here we are :slightly_smiling_face:

Would you still be up for having/doing something like this?

[2021-12-22 21:54] Adman commented on #92
@mrshu Webots created some fix but the problem still persists there.

[2021-12-22 22:15] Adman commented on #13
@mrshu yeah, I can give it a try once more important things like tests/sensors are done.
However, I'm not sure whether we can push this to this year's competitions as it requires quite a lot of testing.

[2021-12-22 22:17] Adman commented on #58
@mrshu I think our documentation is quite extensive nowadays, so not sure whether there would be a benefit of having a video, but let's keep this issue open.

[2021-12-22 22:19] Adman commented on #83
@mrshu Right, will start working on this in the near future.

[2022-01-01 19:54] Adman opened #122 "Move enums from consts.py to enums.py"

[2022-01-05 22:11] Adman opened #124 "Update Webots to R2022a"
This requires converting some of the objects as well as fixing the x,y,z in the code.

[2022-01-05 23:01] mrshu commented on #124
@Adman I guess this should be the priority then :slightly_smiling_face:

Would you mind listing which parts do you think need to be done? I am sure we could split the work up somehow

[2022-01-06 14:36] Adman commented on #124
They provided an algorithm for automatically converting the objects, so I think there is not too much to be done. I'll take this.

[2022-01-09 11:23] #124 closed

[2022-01-11 21:58] Adman commented on #37
The code is now quite well documented, closing the issue.

[2022-01-11 21:58] #37 closed

[2022-01-18 16:53] #83 closed

[2022-01-19 14:19] Jenifen opened #126 "cannot import _controller.so Error"
Error occured while i run the Simulation :

`ImportError: /usr/local/webots/lib/controller/python38/_controller.so: undefined symbol: _ZNK6webots3GPS14getSpeedVectorEvpen
`

environment : webots 2022a, python38, ubuntu 20.04

[2022-01-19 14:45] mrshu commented on #126
Hey @Jenifen,

Would you mind submitting this to https://github.com/cyberbotics/webots/? I believe they are much better suited to help you out with that.

Thanks!

[2022-01-19 15:44] Jenifen commented on #126
Okay thanks

[2022-01-19 15:44] #126 closed

[2022-01-21 01:31] correll commented on #36
This unfortunately does not work for me. I still get "image not found", this time simply referencing the 3.8 directories vs. 3.9 that I have used before.

[2022-01-21 07:57] mrshu commented on #36
@correll would you mind pasting the full text of the error? We'll try to see what's up with that :slightly_smiling_face:

[2022-01-22 06:54] mohammadhosseinz opened #127 "the simulation doesn't work"
The page simulator is parallel with gravity
It seems that the land has 90 degrees of error, in this "73bb7e534982e4f71f23637d832837fb92d655e0" commit.

[2022-01-22 18:18] Adman commented on #127
@mohammadhosseinz Hello, what version of webots do you have? Could you please paste a screenshoot which describes you problem?

[2022-01-23 10:50] mohammadhosseinz commented on #127
Hi, the last version. 189 is the commit number.
![jss](https://user-images.githubusercontent.com/50516049/150674932-17629038-9355-4306-b7db-dee4190c783b.jpg)
Thanks for your attention.

[2022-01-23 17:59] Adman commented on #127
Alright, so you have the newest version of rcj-soccer-sim.

But how about Webots version? Is it R2021b, R2022a or something else?

[2022-01-25 15:18] mohammadhosseinz commented on #127
we tested in macOS and windows in windows did not work in both version R2022a and R2021b but in mac is ok.

[2022-01-25 20:36] Adman commented on #127
Do you have Windows 11? I tried running it on both Win11 and Win10 and it works.

[2022-01-26 09:00] mohammadhosseinz commented on #127
tested on windows 7

[2022-01-31 16:17] Adman commented on #127
Not sure what might have caused the problem. Do you have Win10/11 available?

[2022-02-17 10:38] #122 closed

[2022-02-21 16:44] mohammadhosseinz commented on #127
problem solved😄
I noticed this problem when I run version 2 with webots version 2021 b
thank you for your attention🙏

[2022-02-21 16:47] mrshu commented on #127
Thanks for getting back to us @mohammadhosseinz !

[2022-02-21 16:47] #127 closed

[2022-04-17 14:58] RichoM opened #130 "Robot relocation bug"
Hi, I've been testing the simulator a lot lately and I've noticed a problem with the relocation of robots. A lot of times when the supervisor relocates a robot, it ends up flipped upside down (or to the side, in the worst case).

To show what I'm talking about I recorded a short video. These are all instances of robots being flipped (and a few close calls) during just one match:

https://youtu.be/

[2022-04-17 15:40] Adman commented on #130
Hello @RichoM, thanks for reporting the problem.

The code responsible for moving the object is located [here](https://github.com/RoboCupJuniorTC/rcj-soccer-sim/blob/master/controllers/rcj_soccer_referee_supervisor/referee/supervisor.py#L77-L87)

[code]

It might be possible that the robot is running at high speed while being relocated. Since I'm not able to reproduce the problem so often, could y

[2022-04-17 23:12] RichoM commented on #130
Thanks for the quick response. I tested your proposed fix but it didn’t seem to have any effect.

I think you’re right in that it could be related to the robot speeds so I tried to change the team code to detect lack of progress and stop the motors a few moments before being relocated. That seemed to help a little but not as much as I hoped.

To help reproduce the problem more easily I made the fo

[2022-04-18 00:16] RichoM commented on #130
I've been doing some more testing and I think the problem is related to this issue: https://github.com/cyberbotics/webots/issues/2899

So I added a similar workaround for the robots and it seems to help a lot (see https://github.com/GIRA/rcj-soccer-sim/commit/5904d008e20035dc7e92f63cd1c35353e235a970). It still happens ocassionally but it's *much* less frequently than before.

If you want I can mak

[2022-04-19 08:11] gueparducoin commented on #36
Hello, I have the same problem than correll, could you help me please ?

Here is the code :

INFO: supervisor_controller: Starting controller: /usr/local/opt/python@3.8/bin/python3 -u supervisor_controller.py
INFO: ur10-controller: Starting controller: /usr/local/opt/python@3.8/bin/python3 -u ur10-controller.py
Traceback (most recent call last):
  File "supervisor_controller.py", line 3, in <modul

[2022-04-19 08:13] gueparducoin opened #131 "Controller error on MacOS"
Hello, I'm currently using WEBOTS and here is my issue :

INFO: supervisor_controller: Starting controller: /usr/local/opt/python@3.8/bin/python3 -u supervisor_controller.py
INFO: ur10-controller: Starting controller: /usr/local/opt/python@3.8/bin/python3 -u ur10-controller.py
Traceback (most recent call last):
  File "supervisor_controller.py", line 3, in <module>
    from controller import Super

[2022-04-19 13:19] mrshu commented on #36
Thanks for reporting this @gueparducoin. From my first observations this seems to be connected with the way Webots is distributed.

@Adman, do you think this is something we should report upstream (i.e. to Webots) or is it something we deal with ourselves?

[2022-04-19 19:54] Adman commented on #130
Thanks, I tested your example controller and robots indeed flip over quite often. When I decreased the velocity to just 5, it does not happen, but I can see robots being "shaked" (almost flipped over). I'll ask cyberbotics guys whether this could be related to the issue you linked.

[2022-04-19 20:02] Adman commented on #36
@gueparducoin Have you tried fixing it the way @2black0 solved the issue? If yes and it still does not work, I would suggest contacting Webots team, since it might be problem in the installer for MacOS, like @mrshu says.

[2022-04-22 19:29] Adman commented on #130
@RichoM Could you please try to set `OBJECT_DEPTH` to 0.0375 according to this comment https://github.com/cyberbotics/webots/issues/2899#issuecomment-1106612329 ?

[2022-04-22 21:41] RichoM commented on #130
I tried setting `OBJECT_DEPTH` to 0.0375 and it didn't work, the robots keep falling.

I also tested with a bunch of different values just to be sure, none of them worked either.

[code]

[2022-04-25 21:28] Adman commented on #130
@RichoM Thanks. There's one more comment https://github.com/cyberbotics/webots/issues/2899#issuecomment-1108128674 to  test the object depth with nightly build / source build. Could you please give it a try?

[2022-04-25 22:16] RichoM commented on #130
I've just tested the nightly build with `OBJECT_DEPTH = 0.0375` and it definitely works better. However, something else seems to be broken.

I've recorded a new short video. Look at the two blue robots pushing each other inside the yellow goal. The one that gets flipped over is not the one that is relocated.

https://user-images.githubusercontent.com/1226503/165183378-6c45bda1-4f4b-4737-9643-42458

[2022-04-26 12:17] Adman commented on #130
@RichoM Thanks. I watched it and I think the problem is that when the robot B3 is being relocated (the one deeper inside the yellow goal), the collision detection might not be completely turned off for this robot and it pushes the other robot resulting in flipover.

[2022-04-26 14:34] RichoM commented on #130
Yes, I just confirmed that the same happens using the latest webots release after I applied the `resetPhysics()` workaround to the supervisor. I think I never noticed it before because having two robots pushing against the wall at max speed like that is not a very realistic test.

What do you think we should do with the relocation bug? Wait for the next webots version or should we apply the workar

[2022-04-28 06:06] mrshu opened #132 "Rename this repo to `rcj-soccersim`"
We are trying to use the name SoccerSim (as opposed to Soccer Sim) everywhere, and so it would be best for this repo to follow that convention as well.

[2022-04-28 16:59] Adman commented on #130
@RichoM Let's apply the workaround. Could you please create a pull request?

[2022-04-30 12:51] Adman commented on #130
@Najmehsarfi It's in consts.py in referee's code.

[2022-04-30 12:54] #130 closed

[2022-04-30 12:56] Adman opened #134 "Remove robot relocation workaround"
We implemented workaround for resetting robot's physics in two consecutive steps after being relocated in order not the flip the robot over. Let's wait for Webots to fix this and then remove this workardound.

Related issue: https://github.com/RoboCupJuniorTC/rcj-soccer-sim/issues/130
Related PR: https://github.com/RoboCupJuniorTC/rcj-soccer-sim/pull/133

[2022-04-30 12:57] Adman commented on #132
Done.

[2022-04-30 12:57] #132 closed

[2022-06-04 14:24] mrshu commented on #131
Hi @gueparducoin, is this still a problem for you? Are you by any chance using the M1 version of macOS?

Thanks!

[2022-06-04 14:25] #76 closed

[2022-06-04 14:28] mrshu opened #136 "Start using CHANGELOG"
Since `rcj-soccersim` is getting more stable, perhaps it is time for some sort of a CHANGELOG, on the order of https://keepachangelog.com/en/1.0.0/

[2022-06-04 14:28] mrshu commented on #136
@Adman not sure if you agree here but I'd be up for at least discussing it

[2022-06-05 19:14] Adman commented on #136
I agree.

[2022-07-10 07:06] Osborn-Lin opened #137 "Black screen"
I followed the instructions on github to download everything needed to use webots robocup simulation. However, when I run webots, it shows black screen. The time is moving, but nothing is not the screen. I tried zooming in/out. It doesn't' work.

[2022-07-10 07:24] dbscoach commented on #137
What Webots version and what operating system are you using? Have you made sure rendering is enabled (there is a menu option to.turn rendering off and on, F6 also does it if I remember correctly).

[2022-08-17 15:13] #136 closed

[2022-09-21 21:52] Adman opened #139 "Equipping robots with sensors using limited budget"
Similarly to rescue simulation.

[2022-09-21 21:53] Adman commented on #137
Hello @Osborn-Lin, have you managed to fix the black screen problem?

[2022-09-21 21:57] Adman commented on #131
I'll close the issue for now. If you need help just reopen it.

[2022-09-21 21:57] #131 closed

[2022-10-19 06:58] dbscoach commented on #137
I'll close this one for the time being, if you still have problems just re-open it.

[2022-10-19 06:58] #137 closed